<%- include('includes/top.ejs') %>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <form class="form-control" action="/users" method="POST">
                <label for="">Enter Username:</label>
                <input type="text" name="username" />
                <button type="submit">
                Add User
                </button>
      </form>
    </main>
  </body>
</html>
